
@import url('variables.css');


.dashboard-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-gray);
}

.dashboard-container {
    text-align: center;
    background-color: var(--bg-gray);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.index-container {
    text-align: center;
    background-color: var(--bg-gray);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
    font-size: 2rem;
    color: var(--primary-black);
    margin-bottom: 0.5rem;
}

.dashboard-subtitle {
    font-size: 1.2rem;
    color: var(--primary-light);
    margin-bottom: 1.5rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Estilos de los botones */
.button-primary, .button-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-primary {
    background-color: var(--primary-medium);
    color: #ffffff;
}

.button-primary:hover {
    background-color: var(--primary-dark);
}

.button-secondary {
    background-color: var(--primary-light);
    color: #ffffff;
}

.button-secondary:hover {
    background-color: var(--primary-lightest);
}


/* Estilos de página de inicio de sesión y registro */
.register-body, .login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-medium);
    font-family: var(--font-primary);
}

.register-container, .login-container {
    background-color: var(--bg-white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.register-title, .login-title {
    font-size: 1.8rem;
    color: var(--primary-black);
    margin-bottom: 1rem;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--primary-lightest);
    border-radius: 5px;
    background-color: var(--bg-gray);
    color: var(--primary-black);
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: var(--primary-medium);
}

.button-primary {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--primary-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-primary:hover {
    background-color: var(--primary-dark);
}

.response-message {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--primary-black);
}


/* Lista de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.product-card {
    background-color: var(--bg-white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-black);
}

.product-description {
    font-size: 1rem;
    color: var(--primary-medium);
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-light);
}

.product-quantity {
    font-size: 1rem;
    color: var(--primary-light);
}



.add-product-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.add-product-form-container h3 {
    margin-bottom: 1rem;
    color: var(--primary-black);
}

#addProductForm input,
#addProductForm textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-lightest);
    border-radius: 5px;
    background-color: var(--bg-gray);
    color: var(--primary-black);
    outline: none;
    font-size: 1rem;
}

#addProductForm button {
    padding: 0.75rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--primary-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addProductForm button:hover {
    background-color: var(--primary-dark);
}

#addProductMessage {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.button-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #D5D7F2;
    color: #121670;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-secondary:hover {
    background-color: #8D92F2;
}

.cart-icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.cart-button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cart-button:hover {
    transform: scale(1.1);
}




.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    text-decoration: none;
    color: var(--bg-white);
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: var(--primary-light);
}



.dashboard-body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background: var(--primary-medium);
    color: var(--primary-medium);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--primary-medium);
    color: var(--primary-black);
    display: flex;
    flex-direction: column; /* Organización en columna */
    height: 100vh; /* Altura completa de la pantalla */
}

.navbar {
    background-color: var(--primary-black);
    padding: 1rem;
    text-align: center;
    color: var(--bg-white);
    justify-content: center; /* Centrar horizontalmente */
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed; /* Fijar en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe toda la anchura */
    z-index: 100; /* Asegura que esté por encima del resto del contenido */
}

.footer {
    background-color: var(--primary-black);
    color: var(--bg-white);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    position: fixed; /* Fijar en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe toda la anchura */
}



/* Estilo global */
body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--primary-black);
    color: var(--primary-black);
    height: 100vh;
}

/* Estilos específicos para index.html */
.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que ocupe toda la ventana */
    background-color: var(--primary-black);
    overflow-y: auto; /* Permite scroll si es necesario */
    padding-bottom: 70px; /* Espacio para evitar que el footer cubra el contenido */
}

.index-body .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-black);
    color: var(--bg-white);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.index-body .dashboard-container {
    flex: 1;
    margin-top: 70px; /* Espacio para el header */
    padding: 1rem;
    text-align: center;
}

.index-body .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    color: var(--bg-white);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    height: 60px; /* Altura del footer */
}
