:root {

    --bg-white: #F9F9F9;
    --bg-gray: #E5E5E5;
    --primary-lightest: #E0DFF9;
    --primary-black: #1F1F1F;
    --primary-light: #A27BFF;
    --primary-medium: #8057FF;
    --primary-dark: #5A32B1;
    --primary-soft-dark: #302848;
    --primary-yellow: #8d33ff;

    /* Fuente */
    --font-primary: 'Roboto', sans-serif;
}
