:root {
    /* Colores */
    --bg-white: #F9F9F9;
    --bg-gray: #E5E5E5;
    --primary-lightest: #F0F0F0;
    --primary-black: #1F1F1F;
    --primary-light: #D72638;
    --primary-medium: #A21C29;
    --primary-dark: #721721;
    --primary-soft-dark: #414040;
    --primary-yellow: #989e33;

    /* Fuente */
    --font-primary: 'Roboto', sans-serif;
}
